@CHARSET "UTF-8";


tr{
	height:50;
	
}

b{
	color:#6c63a6;
}
#id{
	width:200;
	height:30;
}
#passwd{
	width:200;
	height:30;
}

.btn{
	    background-color: #6c63a6;
	    color:#fff;
	 	width:110;
	    height:30;
	    border-radius:15px;
	    border:1px solid #6c63a6;
}
.btn2{
	 background-color:#fff;
	 	width:80;
	    height:30;
	    border-radius:15px;
	    border:1px solid #6c63a6;
}